<!DOCTYPE html>

<html>

<head>
    <title>DSMC</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container-fluid" style="background-color: #468298;">
    <div class="row" >
        <div class="btn-group col-sm-2" style="padding-top: 20px; padding-bottom: 10px; box-shadow: 40px;">

                 <strong> DSMC | Institution </strong>
        </div>
        <div class="btn-group mx-auto" style="padding-top: 20px;">
            <a href="/" class="btn-group" style="color: #fff;">
               <strong>  ACCUEIL </strong>&nbsp; &nbsp; &nbsp;
            </a>
            <a href="#" class="btn-group" style="color: #fff;">
                    <strong>  NOS SERVICES </strong> &nbsp; &nbsp; &nbsp;
            </a>
            <a href="#" class="btn-group" style="color: black;">
                                <strong>  NOUS CONTACTER </strong> &nbsp; &nbsp; &nbsp;
                        </a>
            <a href="#" class="btn-group" style="color: #fff;">
                    <strong>  QUI SOMMES NOUS ? </strong>
            </a>
        </div>

    </div>
</div>

</head>
{{{body}}}



</html>