




<table class="table table-striped"><h2 style="text-align: center;margin-bottom: 20px; margin-top: 16px"> Les informations de la table Visiteur </h2>
    <thead>
        <tr>
            <th>id</th>
            <th>Noms</th>
            <th>Prénoms</th>
            <th>Messages</th>
            <th>Adresses ip</th>
            <th>Pays</th>
            <th>Navigateurs</th>
            <th>Dates</th>

        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
        <td>{{this.id}}</td>
            <td>{{this.nom}}</td>
            <td>{{this.prenom}}</td>
            <td>{{this.message}}</td>
            <td>{{this.ip}}</td>
            <td>{{this.pays}}</td>
            <td>{{this.navigateur}}</td>
            <td>{{this.date}}</td>

        </tr>
        {{/each}}
    </tbody>
</table> <br>
<hr>





<table class="table table-striped"><h2 style="text-align: center;margin-bottom: 20px; margin-top: 16px"> Les informations de la table pdf </h2>
    <thead>
        <tr>
            <th>idvisiteur</th>
            <th>Chemin du pdf</th>


        </tr>
    </thead>
    <tbody>
        {{#each pdfs}}
        <tr>
        <td>{{this.idvisiteur}}</td>
            <td>{{this.urlpdf}}</td>


        </tr>
        {{/each}}
    </tbody>
</table>