
<section class="container" style="font-family: Arial;">
    <h2 style="position: absolute; left: 50%; top: 25%; transform: translate(-50%);font-size: 50px; color: black; font-family: Comic Sans MS;">beaud chat window</h2>
    <button style="padding: 16px 20px;border: none;cursor: pointer;opacity: 0.8;color: rgba(0,0,0,0.7);
background-color: rgba(255,255,255,0.8);position: fixed;bottom: 23px;right: 28px; width: 280px" onclick="openform()">chat </button>

    <div style="display: none;position: fixed;bottom: 0;right: 15px;border: 3px solid #f1f1f1;z-index: 9;" id=myform>

        <form action="" style="padding: 10px;background-color: white;max-width: 300px;">

            <h1> Chat </h1>
            <label > <b> Message </b> </label>
            <input type="text" style="width: 100px;padding: 15px;margin: 5px 0 22px 0;border: none;background: #f1f1f1;min-height: 200px" name='msg' placeholder=" Ex : ZOSSOU" value="" required>

            <button type="submit" style="background-color: #659dbd;color: rgba(0,0,0,0.8);padding: 16px 20px;border: none;cursor: pointer;width: 100%;margin-bottom: 10px;opacity: 0.8;"> Send </button>
            <button type="button" style="background-color: rgba(0,0,0,0.7);color: rgba(255,255,255,0.8);" onclick="closeform()"> Close </button>

        </form>

    </div>

    <script>
        function openform() {
            document.getElementById("myform").style.display="block";
        }
        function closeform() {
            document.getElementById("myform").style.display="none";
        }
    </script>

</section>