 <p id="loc"></p>


        <script type="text/javascript">
            var a = document.getElementById("loc");
            var ipAddress = a.getLocalAddress();

  	            function jsonpCallback(data) {
	            a.innerHTML = "Latitude: " + data.latitude +
                              "<br/>Longitude: " + data.longitude +
                              "<br/>Country: " + data.address.country; alert(ipAddress);
 	            }


        </script> <script src="http://api.wipmania.com/jsonp?callback=jsonpCallback"
                                      type="text/javascript"></script


    <div style="padding-top: 20px;padding-bottom: 20px">
        <div class="container">
            <div class="text-center mx-auto" style="max-width: 1000px;margin-bottom: 10px">
                <h1 class="text-info font-30 ">Formulaire de Postulation</h1>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto">

                    <form name="dsmc" action="#" method="POST" autocomplete="off" style="padding: 30px;box-shadow: 0 5px 30px #d6dee4;">


                        <div class="form-group mb-4">
                            <label class="col-md-4 control-label" style="color: #0c5460">Nom</label>
                            <input class="form-control" type="text" name='nom' placeholder=" Ex : ZOSSOU" value="" required>
                            <div class="text-danger">  {{postulant.nomError}}       </div>
                        </div>

                        <div class="form-group mb-4">
                            <label class="col-md-4 control-label" style="color: #0c5460">Prenom</label>
                            <input class="form-control" type="text" name='prenom' placeholder=" Ex : Beaudelaire" value="" required>
                            <div class="text-danger">  {{postulant.prenomError}}       </div>
                        </div>


                        <div class="form-group mb-4">
                            <label class="col-md-4 control-label" style="color: #0c5460">Message</label>
                            <textarea class="form-control" type="text" name='msg' placeholder=" Ex : " value="" required></textarea>

                        </div>

                        <script>

                            var navigo = 'inconnu';

                            function myFunction() {
                            if((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) != -1 )
                            {
                            navigo = 'Opera';
                            document.forms["dsmc"].elements["navig"].value = "Opera";


                            }
                            else if(navigator.userAgent.indexOf("Chrome") != -1 )
                            {
                            navigo = 'Chrome';
                            document.forms["dsmc"].elements["navig"].value = "Chrome";

                            }
                            else if(navigator.userAgent.indexOf("Safari") != -1)
                            {
                            navigo = 'Safari';
                            document.forms["dsmc"].elements["navig"].value = "Safari";

                            }
                            else if(navigator.userAgent.indexOf("Firefox") != -1 )
                            {
                            navigo = 'Firefox';
                            document.forms["dsmc"].elements["navig"].value = "Firefox";

                            }
                            else if((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )) //IF IE > 10
                            {
                            navigo = 'IE';
                            document.forms["dsmc"].elements["navig"].value = "IE";

                            }else{
                            navigo = 'inconnu';
                            document.forms["dsmc"].elements["navig"].value = "inconnu";

                            }

                            // -------------------------------language code
                            var idL=new Array  ("af","ar","as","az","be","bg","bn","ca","cs","da","de","di","el","en","es","et","eu","fa","fi","fo","fr","gd","gl","gu","he","hi","hr","hu","hy","id","ie","in","is","it","ja","ji","ka","kk","ko","kz","lt","lv","mk","ml","mn","mr","ms","mt","nb","ne","nl","no","or","pa","pl","po","pt","rm","ro","ru","sa","sb","sk","sl","sq","sr","sv","sw","sx","sz","ta","te","th","tn","tr","ts","tt","uk","ur","uz","ve","vi","xh","zh","zu");
                            // -------------------------------language name
                            var idLanguage= new Array ("Afrikaans","Arabic","Assamese","Azerbaijani/azeri","Belarussian","Bulgarian","Bengali","Catalan","Czech","Danish","German","Divehi","Greek","English","Spanish","Estonian","Basque","Persian/iranian-farzi","Finnish/finland","Feroien/faeroese","French","Gaelic","Gallegan/galicia","Gujarati","Hebrew","Hindi","Croatian","Hungarian","Armenian","Indonesian","...unknown...","Indonesian","Icelandic","Italian","Japanese","Yiddish","Georgian","Kazakh","Korean","Kyrgyz","Lithuanian","Latvian/litton","Macedonian","Malayalam","Mongolian/cyrillic","Marathi","Malaysian","Maltese","Norwegian/bokmal","Nepali","Dutch","Norwegian/nynorsk","Oriya","Panjabi","Polish","Polish","Portuguese","Rhaeto-romance","Romanian","Russian","Sanskrit","Serbian/latin","Slovak","Slovenian","Albanian","Serbian/cyrillic","Swedish","Swahili","Suttee","Sammie/lappet","Tamil","Telugu","Thai","Tswana","Turkish","Tonga/tsonga","Tatar/tartar","Ukrainian","Urdu","Uzbek","Venda","Vietnamese","Xhosa","Chinese","Zulu");
                            // -------------------------------country code
                            var idC= new Array
                            ("-bj","-ae","-bh","-dz","-eg","-iq","-jo","-kw","-lb","-ly","-ma","-om","-qa","-sa","-sy","-tn","-ye","-at","-ch","-li","-lu","-au","-ca","-gb","-bz","-ie","-jm","-nz","-ph","-tt","-us","-zw","-za","-ar","-bo","-cl","-co","-cr","-do","-ec","-gt","-hn","-ni","-pa","-pe","-pr","-py","-sv","-tt","-us","-uy","-ve","-be","-ca","-ch","-lu","-mc","-fr","-ch","-be","-br","-fi","-cn","-hk","-mo","-sg","-tw");
                            // -------------------------------country name (using different languages)
                            var idCountry= new Array
                            ("Bénin","Emirates","Bahrain","Algeria","Egyptia","Iraq","Jordania","Koweit","Lebanon","Lybia","Morocco","Oman","Qatar","Saudi-Arabia","Syria","Tunisia","Yemen","Austria","Switzerland","Lichtenstein","Luxemburg","Australia","Canada","Great-Britain","Belize","Ireland","Jamaica","New-Zealand","Philippines","Trinidad","United-States","Zimbabwe","South-Afrika","Argentina","Bolivia","Chile","Colombia","Costa-Rica","Dominican-republic","Ecuador","Guatemala","Honduras","Nicaragua","Panama","Peru","Puerto-Rico","Paraguay","El-Salvador","Trinidad","United-States","Uruguay","Venezuela","Belgium","Canada","Switzerland","Luxemburg","Monaco","France","Switzerland","Belgium","Brazil","Finland","China","Hong-Kong","Macau","Singapur","Taiwan");
                            // -------------------------------country name (using original language)
                            var idLC=new Array ("South-Afrika","Arabia","Bénin","Assamese","Azerbaidjan","Belarussia","Bulgaria","India","Catalonia","Czech-republic","Denmark","Germany","India","Greece","United-Kingdom","Spain","Estonia","Basque-country","Iran-Persia","Finland","Faeroe","France","Eire-Gaelic","Galicia","India","Israel","India","Croatia","Hungaria","Armenia","Indonesia","...unknown...","Indonesia","Iceland","Italy","Japan","Israel","Georgia","Kazakhstan","Korea","Kirghizistan","Lithuania","Latvia","Macedonia","India","Mongolia","India","Brunei/Malaysia","Malte","Norway","India","Netherlands","Norway","Nepal","India","Poland","Poland","Portugal","rm","Romania","Russia","India","Serbia","Slovakia","Slovenia","Albany","Serbia","Sweden","South-Afrika","India","India","India","India","Thailand","South-Afrika","Turkey","Zambia-Zimbabwe","Turkey-Russia","Ukraine","Iran-Pakistan(Persia)","Ubekistan","South-Afrika","Vietnam","South-Afrika","China","South-Afrika");
                            //----------------------------------------------------------------------------
                                   lgIE=navigator.browserLanguage;
                                   lgNN=navigator.language;
                            if (lgIE==null) lgNAV=lgNN;
                            if (lgNN==null) lgNAV=lgIE;
                            var lgHOW=lgNAV.substring(0,2);
                            var i;
                            var Lxx="unknown";
                            var Cxx="unknown";
                            for (i=0;i<idL.length;i++) {//search for language
                                  if (idL[i]==lgHOW) {
                                     Lxx = idLanguage[i];
                                     break;}}
                            if (lgNAV.search("-")==-1) {
                                Cxx=idLC[i];}
                            if (lgNAV.search("-")!=-1) {//search for country
                                var pos=lgNAV.search("-");
                                var lgFROM=lgNAV.substring(pos,pos+3);
                                for (i=0;i<idC.length;i++) {
                                      if (idC[i]==lgFROM) {
                                         Cxx = idCountry[i];
                                         break;}}
                                }
                            alert("Code : ["+lgNAV+"]Language : "+Lxx+"Country : "+Cxx);
                            var oki = document.getElementById("applet").getLocalAddress(); alert(oki);
                            }
                            </script>

                        <div class="form-group mb-4">
                           <input class="form-control" type="text" name='navig' value="{{navigo}}" hidden>
                        </div>

                        <div class="form-group mb-4">
                           <input class="form-control" type="text" name='ip' value="{{ipAddress}}" hidden>
                        </div>

                        <div class="form-group mb-4">
                           <input class="form-control" type="text" name='pays' value="{{Cxx}}" hidden>
                        </div>


                        <div class="text-center">
                            <button type="submit" onclick="myFunction()" class="btn btn-info">
                                Soumettre
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<br><br>