
<h2 style="text-align: center; margin-bottom: 20px; margin-top: 16px">Liste des soumissions en attente</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th> {{list.a}}</th>
            <th> {{list.b}}</th>
            <th> {{list.c}}</th>

        </tr>
    </thead>
    <tbody>

        <tr>
           <td> <a href={{list.a}}>chemin vers liste a </a> </td>
           <td> <a href={{list.b}}>chemin vers liste b </a> </td>
           <td> <a href={{list.c}}>chemin vers liste c </a> </td>

        </tr>

    </tbody>
</table>